.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation-sub {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #3282b8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.navigation-sub ul {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}

.navigation-sub li {
  display: inline-block;
  text-align: center;
  position:relative;
}

.navigation-sub li a {
  float:left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;

}

.navigation-sub li:hover {
  background-color: #0f4c75;
}

.navigation-sub li:active {
  background-color: #000099;

}

body {
  padding-top:50px;
  height:100%;
}

#cvkuva {
  border-radius: 50%;
  max-width: 25%;
  height: auto;
  position:absolute;
  left: 15%;
  top: 120%;
}

#title {
  position:absolute;
  float:left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  left: 0;
}

#infobox {
  max-width: 25%;
  height: auto;
  position:absolute;
  left: 55%;
  top: 200%;
  background-color: #0f4c75;
  color: white;
  padding: 50px;
  border-radius: 25px;
}

.textbox {
  max-width: 50%;
  position: relative;
  left: 20%;
  background-color: #0f4c75;
  color: white;
  padding: 30px;
  border-radius: 25px;
}

#aboutsections {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}

.section {
  padding:10px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  #aboutsections {
    display:block;
  }
}

body {
  position:relative;
  background-color: #1b262c;
  text-decoration-color: #ffffff;
  color: white;
}

h1 {
  color: white;
}

h2 {
  color:white;
}
