.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding-top:50px;
  height:100%;
}

#navbar {
  background-color: #3282b8;
}

#cvkuva {
  max-width: 320px;
  border-radius: 50%;
  position:relative;
}


#title {
  position:absolute;
  float:left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  left: 0;
}


.infobox {
  background-color: #0f4c75;
  color: white;
  border-radius: 25px;
  height:auto;
  padding:50px;
  width:50%;
  left:15%;
  top:5%;
  position:relative;
}

.textbox {
  position: relative;
  background-color: #0f4c75;
  color: white;
  border-radius: 25px;
  height: 100%;
}


@media screen and (max-width: 600px) {



}

body {
  position:relative;
  background-color: #1b262c;
  text-decoration-color: #ffffff;
  color: white;
}

h1 {
  color: white;
}

h2 {
  color:white;
}
